header.navigation {
  background-color: #fff;
  position: sticky;
  top: 0px;
  height: 60px;
  transition: box-shadow 200ms ease-in-out 0s;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0,0,0,.1);
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 42rem;
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    padding: 0;
    line-height: 60px;
  }

  nav li {
    line-height: 60px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  a {
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 5px;
    color: #4a5669;
    transition: background-color 200ms ease-in-out 0s;

    &.active {
      background-color: #f7f9fb;
    }

    &:hover {
      background-color: #f7f9fb;
    }
  }
}
